################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj
/ZeikomiAnalyzer/bin/Debug/net5.0-windows
/ZeikomiAnalyzer/obj
/.vs/ZeikomiAnalyzer/v16
